## LIST

**Basic Representations**

- strings elements will use in quouts

- list elements is in square brackets

In [4]:
list1=[1,2,3,4]
print(list1)

[1, 2, 3, 4]

In [5]:
list2=['A','B','C']

In [6]:
print(list2)

['A', 'B', 'C']

In [9]:
list3=[1,2,3,'A','B','C']
print(list3)

[1, 2, 3, 'A', 'B', 'C']

In [65]:
list1=[10,20,2,5,75]
list2=['Apple','apple','Cherry','banana']
list3=list1+list2
list3
len(list1)
max(list1)
max(list2)
min(list1)
min(list2)
sum(list1)
#sum(list2)#sum will work on int only
sorted(list1)
sorted(list2)
#sorted(list3) -it will not work beacouse we are comparing to different datatype
#list1.reversed()
#len(list3)
#max(list3)#it will not work if we have both int and str in one list
#min(list3)#it will not work if we have both int and str in one list
#sum(list3)#it will not work if we have both int and str in one list
list1[::-1]

[75, 5, 2, 20, 10]

In [31]:
import random
list5=[1,2,3,'A','B','C',2.3,4.5,True,False,eval("1+2"),'#',0b0101011,0x1c,random.randint(1,10),[1,2,3],20+30j]
print(list5)
name='python'
list9=[name]
list9
list10=[_]
list10

[1, 2, 3, 'A', 'B', 'C', 2.3, 4.5, True, False, 3, '#', 43, 28, 4, [1, 2, 3], (20+30j)]

[[[['python']]]]

In [52]:
lis=reversed(list1)

In [54]:
list(lis)

[75, 5, 2, 20, 10]

In [60]:
lis=[1,2,31.1,2.2,]
max(lis)

31.1

In [63]:
dir(lis)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [66]:
for i in reversed(list1):
    print(i)

75
5
2
20
10

In [67]:
sorted(list1),sorted(list1,reverse=True)

([2, 5, 10, 20, 75], [75, 20, 10, 5, 2])

In [97]:
#in the interview 
#list1=[10,20,30,40]
#Q1)sort the list with out sorted function
#2)find max value with out max function
#3 find the main value with out min function
#4)Reverse the elements with out reversed function
#5) sum the elements with out using sum function
list1=[5,4,3,2,1]
for i in range(len(list1)):
    for j in range(len(list1)):
        if i==len(list1) and i<i+1:
            temo=list1[i]
            list1[i]=list1[i+1]
            list1[i+1]=temo
print(list1)
#list1[2]=2
#print(list1)

[5, 4, 3, 2, 1]

**concatenation**

In [86]:
list2=[1,2,3,4]
list2=['A','B','C','D']
#list1+list2
#list1/list2 fail
#list1*list2 fail
#list1-list2 fail

In [92]:
#-6  -5 -4 -3   -2   -1 
#10   20 30 'A' 'B' 'C'
#0   1  2   3   4    5
list1=[10,20,30,'A','B','C']
for i in range(len(list1)):
    print(f'the positive index of {list1[i]}= {i}  the negative index of it is {i-len(list1)}')

the positive index of 10= 0  the negative index of it is -6
the positive index of 20= 1  the negative index of it is -5
the positive index of 30= 2  the negative index of it is -4
the positive index of A= 3  the negative index of it is -3
the positive index of B= 4  the negative index of it is -2
the positive index of C= 5  the negative index of it is -1

In [102]:
list1=[[10]]
#inside list how many elements are there:1
#[10]
list1[0]#this answer is list of[10]
list1[0][0]#this will give 10

10

In [103]:
list1=[[10,20]]
list2=[10,20]
len(list1),len(list2)

(1, 2)

In [108]:
list1=[10,[20]]
list1[1]
list1[1][0]

20

In [109]:
list1=[10,20,30,'A',['Banana','Cherry']]
list1[4][1]

'Cherry'

In [110]:
list1=['A',['Apple','B',['Banana'],'C',['Cherry']]]
list1[1][4][0]

'Cherry'

In [114]:
list1=['A',['Apple','B',['Banana','C',['Cherry','D',['Dragon fruite']]]]]
list1[1][2][2][2][0]

'Dragon fruite'

In [119]:
list1=['Apple',['Kashmir',['India',['Criket',['Bat']]]]]
list1[1][1][1][1][0]

'Bat'

In [62]:
#Q1)sort the list with out sorted function
list1=[5,4,3,2,1]
for i in range(len(list1)):
    for j in range(len(list1)-i-1):
        if list1[j]>list1[j+1]:
            list1[j], list1[j + 1] = list1[j + 1],list1[j]
print(list1)

[1, 2, 3, 4, 5]

In [ ]:

#2)find max value with out max function

#4)Reverse the elements with out reversed function
#5) sum the elements with out using sum function

In [70]:
#2)find max value with out max function
list1=[1,2,3,4]
max_number=0
for i in range(len(list1)):
    max_number=list1[i]
    if list1[i]>max_number:
        max_number=list1[i]
print("the max number is:",max_number)

the max number is: 4

In [81]:
#3 find the main value with out min function
list1=[2,3,4,3,22,1,33,4,4,2,4,443]
min_number=list1[0]
for i in range(len(list1)):
    if list1[i]<min_number:
        min_number=list1[i]
print("the max number is:",min_number)

the max number is: 1

In [98]:
#4)Reverse the elements with out reversed function
list1=[1,2,3,5]
list2=[]

i=0
for i in range(-1,-len(list1)-1,-1):
    list2.append(list1[i])
print(list2)

[5, 3, 2, 1]

In [97]:
#5) sum the elements with out using sum function
list1=[33,21,33,5,67,87]
sum1=0
for i in range(len(list1)):
    sum1+=list1[i]
print(f'the sum of all numbers is:{sum1}')

the sum of all numbers is:246

In [1]:
n=[21,56,76,34]
length = len(n)
print("Original list : ",n)

for i in range(length):
    for j in range(0,length-i-1):
        temp = n[j]
        n[j] = n[j+1]
        n[j+1] = temp

print("Reversed List : ", n)

Original list :  [21, 56, 76, 34]
Reversed List :  [34, 76, 56, 21]

**range vs in**
- when we have use with index then go for range

- when we have use with only elements go for in

**mutable vs immutable**

In [3]:
lis=[3,2,65,34,22]
lis[1]=4
print(lis)

[3, 4, 65, 34, 22]

**list are mutable**`

**slice**

In [9]:
l1=[10,20,30,40,50,'A','B','C','D','E','apple','banana']
l1[:]
l1[::]
l1[::-1]
l1[2:10:2]
l1[2:10-2]
l1[2:-10:2]
l1[-2:10:2]
l1[2:-10:-2]
l1[2:-10:-2]
l1[2:-10:-2]
l1[-2:-10:2]
l1[-2:-10-:-2]
l1[10:2:2]
l1[10:2:-2]
l1[10:-2:2]
l1[-10:2:-2]

SyntaxError: invalid syntax (3067950906.py, line 13)

In [8]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

- clear
- copy
- count

In [16]:
#copy
lis=[1,2,3,44,55,44,'A','And How Are ,They AAA','B','A','C','E','B']
lis.copy()
#count
lis.count()
#lis.clear()

2

**append**

- append is very very important method in the entire list

- in our life we will use this method very very frequently

- append means adding an element at last

In [23]:
l1=[10,20,30]
l1.append('apple','banana')
print(l1)
l1.append('banana')
l1

TypeError: list.append() takes exactly one argument (2 given)

In [24]:
l1=[10,20,30]
l1.append(['apple','banana'])
print(l1)
l1.append('banana')
l1

[10, 20, 30, ['apple', 'banana']]

[10, 20, 30, ['apple', 'banana'], 'banana']

**always recall if you see anywhere multiple values means most of the time we will kwwp thosw value in a list**

In [30]:
l1=[10,20,30]
l1.append('')
print(l1)
l1.append('banana')
l1

[10, 20, 30, '']

[10, 20, 30, '', 'banana']

**append method is used to store the outputs**

In [33]:
# for example i want to append a number  s from 1 to 5
#l=[1,2,3,4,5]

l=[]
for i in range(1,6):
    l.append(i)
print(l)

[1, 2, 3, 4, 5]

In [38]:
#wap ask the user enter 3 random numbers 
#and performm the square of the number save those square in a list
import random
l=[]
for i in range(3):
    num=random.randint(1,100)
    l.append(f'{num}:{num**2}')
print(l)

['91:8281', '37:1369', '15:225']

In [41]:
#Q2) i already have a list o numbers
l=[10,47,53,12,27]
even=[]
odd=[]
for i in l:
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
print(f' even list {even}')
print(f' odd list {odd}')

 even list [10, 12]
 odd list [47, 53, 27]

In [ ]:
#Q3) input=['hyd','bengaluru','pune','mimbai']
#output=['Hyd','Benguluru','pune',,'Mumbai']

#Q4) input=['hyd','bengaluru','pune','mimbai']
#output=['HYD','BENGULURU','PUNE',,'MUMBAI']

#Q5) input=['hyd','ben#galuru','pune','mu#mbai']
#output=['ben#galuru','mu#mbai']

#Q6) input=['hyd','ben#galuru','pune','mu#mbai']
#output=['hyd','pune']

#Q7) input=hai how are you'
#output=['Hai','HOW','ARE','YOU']

In [45]:
#Q3)input=['hyd','bengaluru','pune','mimbai']
lis=['hyd','bengaluru','pune','mumbai']
cp=[]
for i in lis:
    cp.append(i.capitalize())
print(cp)

['Hyd', 'Bengaluru', 'Pune', 'Mumbai']

In [46]:
#Q4) input=['hyd','bengaluru','pune','mimbai']
#output=['HYD','BENGULURU','PUNE',,'MUMBAI']
lis=['hyd','bengaluru','pune','mumbai']
up=[]
for i in lis:
    up.append(i.upper())
print(up)

['HYD', 'BENGALURU', 'PUNE', 'MUMBAI']

In [50]:
#Q5) input=['hyd','ben#galuru','pune','mu#mbai']
#output=['ben#galuru','mu#mbai']

name=['hyd','ben#galuru','pune','mu#mbai']
sy=[]
for i in name:
    if not i.isalnum():
        sy.append(i)
print(sy)

['ben#galuru', 'mu#mbai']

In [51]:
#Q6) input=['hyd','ben#galuru','pune','mu#mbai']
#output=['hyd','pune']
city=['hyd','ben#galuru','pune','mu#mbai']
al=[]
for i in name:
    if i.isalnum():
        al.append(i)
print(al)

['hyd', 'pune']

In [29]:
#Q7) input=hai how are you'
#output=['Hai','HOW','ARE','YOU']

str1='hai how are you'
lis=[]
for i in str1.split(' '):
    lis.append(i.upper())
print(lis)

['HAI', 'HOW', 'ARE', 'YOU']

In [89]:
# Q8) input='virat.kohli@rcb.com;rohit.sharma@mi.com;ms.dhoni@csk.com'
#     fname=['virat','rohit'.'ms']
#     sname=['kohli','sharma','dhoni']
#     cname=['rcb','mi','csk']


def name_finder(str1):
    fname=[]
    sname=[]
    cname=[]
    li=str1.split(';')
    for i in range(len(li)):
        first_name=li[i].index('.')
        second_name=li[i].index('@',first_name)
        c_name=li[i].index('.',second_name)
        fname.append(li[i][:first_name])
        sname.append(li[i][first_name+1:second_name])
        cname.append(li[i][second_name+1:c_name])
    print(f'fname={fname}')
    print(f'sname={sname}')
    print(f'cname={cname}')
        
str1='virat.kohli@rcb.com;rohit.sharma@mi.com;ms.dhoni@csk.com'
name_finder(str1)

fname=['virat', 'rohit', 'ms']
sname=['kohli', 'sharma', 'dhoni']
cname=['rcb', 'mi', 'csk']

In [74]:
# Q9) input='can canner can you can not canner with you but you can the canner'
#     output=['can'-4,'canner'-3,'you'-3,'not'-1,'with'-1,'but'-1,'the'-1]
str1='can canner can you can not canner with you but you can the canner'
str2=['can','canner','you','not','with','but','the']
li1=str1.split(' ')
li2=[]
for i in range(len(str2)):
    li2.append(f'{str2[i]}:{li1.count(str2[i])}')
print(li2)

['can:4', 'canner:3', 'you:3', 'not:1', 'with:1', 'but:1', 'the:1']

In [88]:
# Q10) input = 'can canner can you can not canner with you but you can the canner'
#      stopwords=['not','you','but','with']
#      using stopwords remove those words from input
#     output='can canner can can canner can canner'
str1= 'can canner can you can not canner with you but you can the canner'
li=str1.split(' ')
stopwords=['not','you','but','with']
with_out_stopword=''
for i in li:
    if  not i in stopwords:
        with_out_stopword+=f" {i}"
print(with_out_stopword)

 can canner can can canner can the canner

In [55]:
# Q11) take a string find the most repeated word from string
str1=input('Enter yout string')
li=str1.split(' ')
li1=[]
li2=[]
for i in range(len(li)):
    if f'{li[i]}:{li.count(li[i])}' in li1:
        continue 
    else:
        li1.append(f'{li[i]}:{li.count(li[i])}')
        li2.append(li.count(li[i]))
most_rep=li2[0]
mos=f'{li1[0]}'
for i in range(1,len(li2)):
    if li2[i]>=most_rep:
        mos=mos+f' {li1[i]}'

print(f'the most repited words are:  {mos}')

Enter yout string hii hii hii waht are you you doing a a a

the most repited words are:  hii:3 a:3

In [21]:
# Q12) take a string find the longest length of the word from string
str1=input("enter your string:")
l1=str1.split()
first_word=l1[0]
longest_word=f''
for i in range(1,len(l1)):
    if len(l1[i])>=len(first_word):
        longest_word=''
        longest_word=longest_word+f' {l1[i]}:{len(l1[i])} '
print(longest_word)

enter your string: hii what you are doing aaaaa

 aaaaa:5

In [22]:
# Q13) take a string find the lowest length of the word from string
str1=input("enter your string:")
l1=str1.split()
first_word=l1[0]
longest_word=f''
for i in range(1,len(l1)):
    if len(l1[i])<=len(first_word):
        longest_word=''
        longest_word=longest_word+f' {l1[i]}:{len(l1[i])} '
print(longest_word)

enter your string: hii what a what

 a:1

In [44]:
# Q14) you have some qns list is there
#      also you have answers list also there
#     qns=['who is PM of india',
#       'what is the capital of india', who is ICT MENS captain]
#    ans=['Modi','Delhi','Rohit']
#    whenerver correct answer marks +10
#    print you got total
qns=['who is PM of india','what is the capital of india', 'who is ICT MENS captain']
ans=['Modi','Delhi','Rohit']
marks=0
for i in range(len(qns)):
    print(qns[i])
    user_ans=input().capitalize()
    ck=user_ans.capitalize()
    if ck==ans[i]:
        marks+=10
print(f'total marks you obtain:{marks}')

who is PM of india

 modi

hii
what is the capital of india

 rohit

who is ICT MENS captain

 rohit

hii
total marks you obtain:20

**extend**

In [8]:
l1=[1,2,3,4,5]
l2=['A','B','C','D']
l1.extend(l2)

print(l1)

[1, 2, 3, 4, 5, 'A', 'B', 'C', 'D']

In [9]:
l1=[1,2,3,4,5]
l2=['A','B','C','D']
l2.extend(l1)
print(l2)

['A', 'B', 'C', 'D', 1, 2, 3, 4, 5]

In [12]:
l1=[1,2,3,4,5]
l2=['A','B','C','D']
print(l1+l2)
print(l1)
print(l2)
print('l1 will be overwriten if we use extend')
l1.extend(l2)
print(l1)

[1, 2, 3, 4, 5, 'A', 'B', 'C', 'D']
[1, 2, 3, 4, 5]
['A', 'B', 'C', 'D']
l1 will be overwriten if we use extend
[1, 2, 3, 4, 5, 'A', 'B', 'C', 'D']

In [19]:
l2=['A','A','B','C','D']
l2.index('A')

0

- in string we have index and find
 
- but in list we have only index

- same as strings concept

In [22]:
l1=[10,20,30,40,50,'Apple','Banana','Cherry',40,50]
i1=l1.index(40)
print(l1.index(40,i1+1))

8

**insert**

In [34]:
l1=[10,20,30,40,50,'Apple','Banana','Cherry',40,50]
ix=l1.index('Apple')
l1.insert(ix+1,100)
print(l1)

[10, 20, 30, 40, 50, 'Apple', 100, 'Banana', 'Cherry', 40, 50]

**pop vs remove**

In [44]:
l1=[10,20,30,40,50,'Apple','Banana','Cherry',40,50]
l1.pop()
print(l1)
l1.pop(l1.index(50))
print(l1)

[10, 20, 30, 40, 50, 'Apple', 'Banana', 'Cherry', 40]
[10, 20, 30, 40, 'Apple', 'Banana', 'Cherry', 40]

In [42]:
l1=[10,20,30,40,50,'Apple','Banana','Cherry',40,50]
l1.remove(10)
print(l1)

[20, 30, 40, 50, 'Apple', 'Banana', 'Cherry', 40, 50]

In [50]:
l1=[10,20,30,40,50,'Apple','Banana','Cherry',40,50]
del(l1[5])
l1

[10, 20, 30, 40, 50, 'Banana', 'Cherry', 40, 50]

- if we want delete any element

- pop:based on index

- remove:based on value

- del is an inbuild function

In [54]:
l1=[10,20,30,40,50,'Apple','Banana','Cherry',40,50]
del l1[5] #del(l1[5]) we need not ot give brackets
print(l1)

[10, 20, 30, 40, 50, 'Banana', 'Cherry', 40, 50]

**reverse-reversed**

- reverse is method

- reversed is an inbuild function

In [56]:
l1=[10,20,30,40,50,'Apple','Banana','Cherry',40,50]
l1.reverse()
print(l1)

[50, 40, 'Cherry', 'Banana', 'Apple', 50, 40, 30, 20, 10]

In [61]:
l1=[10,20,30,40,50,'Apple','Banana','Cherry',40,50]
l1=reversed(l1)
list(l1)

[50, 40, 'Cherry', 'Banana', 'Apple', 50, 40, 30, 20, 10]

**in place**

- when we perfrom the opertions some times the values will not overite

- if we see **inplace** word or **inplace="True"**

- this indicates the output  will be overwrite in corresponding variable

**sort vs sorted**

In [10]:
l1=[10,20,30,40,50,40,50]
s1=l1.sort()
print(s1)
print(l1.count(10))

None
1

In [77]:
l1=[10,20,30,40,50,40,50]
l2=sorted(l1,reverse=True)
print(l2)

[50, 50, 40, 40, 30, 20, 10]

- inbuilt function appicable for any datatype

- but method works wrt(with respect to) data types

   - **the method of lists**

- clear

- count

- append/extend/insert

- pop/remove/del

- index

- reverse/reversed

-sort/sorted

## Tuple

In [15]:
t1=(1,2,3,4,'A','B','C','1','1','1')
print(t1.count(1))
print(t1.index('1'))

1
7

In [11]:
dir(t1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [31]:
t1=(1,2,3,4)
print(t1.count(1))
print(t1.index(1))
print(len(t1))
t2=reversed(t1)
print(list(t2))
t3=sorted(t1)
print(list(t3))
del(t2)
t3.remove(1)
print(t3)
t3.pop(1)
print(t3)
t1.clear(1)

1
0
4
[4, 3, 2, 1]
[1, 2, 3, 4]
[2, 3, 4]
[2, 4]

AttributeError: 'tuple' object has no attribute 'clear'

In [41]:
#Exam paper solve
marks=[45,76,89,53,67,90,82,49,33,99]
#a)Filter students who passes(marks>=50)
Passed_Student=[i for i in marks if i>=50]
print('Passed student:',Passed_Student)
#b)calculate grade for all students:
grade=[f'{i}:A' if i>=85 else f'{i}:B' if i>=70 else f'{i}:C' if i>=50 else f'{i}:F'  for i in marks]
print('Grades:',grade)
#c)Add 5 grace marks to student who fail
grace_mark=[i+5 if i<50 else i for i in marks]
print('grace_marks:',grace_mark)
#d) Identify top 3 scorers
top_three=[i for i in sorted(marks,reverse=True)][:3]
print('top_three',top_three)
#find average marks of the class
a=0
avg_marks=[a:=a+i for i in marks][-1:]
print('Avg marks:',avg_marks[0]/len(marks))

Passed student: [76, 89, 53, 67, 90, 82, 99]
Grades: ['45:F', '76:B', '89:A', '53:C', '67:C', '90:A', '82:B', '49:F', '33:F', '99:A']
grace_marks: [50, 76, 89, 53, 67, 90, 82, 54, 38, 99]
top_three [99, 90, 89]
Avg marks: 68.3

In [43]:
#another logic
marks=[45,76,89,53,67,90,82,49,33,99]

max_val=max(marks)
for i in range(3):
    max_val=max(marks)
    print(max_val)
    marks.remove(max_val)

99
90
89