## LIst comprehension

- List comprehension a way to write list operations in a single line

- when we apply for loop and if-else conditional statements the the code compilation becomes slow

- which means it takes much time

- in order to avoide the time complexity we will use list comprehension

- List comprehension is a single line code

-

In [1]:
list1=[]
for i in range(10):
    list1.append(i)
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list1=[<code showuld write here>]
#inside code no need of append
list1=[<output var> <for loop]

In [6]:
list1=[i for i in range(10)]
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

**dont give:after for loop**

In [10]:
#Q1)
input=['hyd','bengaluru','pune','mumbai']
output=[i.capitalize() for i in input]
print(output)

['Hyd', 'Bengaluru', 'Pune', 'Mumbai']

In [11]:
#Q2)
input=['hyd','bengaluru','pune','mumbai']
output=[i.upper() for i in input]
print(output)

['HYD', 'BENGALURU', 'PUNE', 'MUMBAI']

In [17]:
#Q3)
input=['hyd','bengaluru','pune','mumbai']
output=[input.index(i)*10 for i in input]
print(output)

[0, 10, 20, 30]

**Walrus operator**

In [37]:
#Q4)
input=['hyd','bengaluru','pune','mumbai']
summ=0
output=[summ:=summ+input.index(i) for i in input][-1]
print(output)

6

**case-2 for loop and if conduction**

In [41]:
# even number
for i in range(1,10):
    if i%2==0:
        print(f'even:{i}')

even:2
even:4
even:6
even:8

In [45]:
even_list=[i for i in range(1,10) if i%2==0]
print(even_list)

[2, 4, 6, 8]

In [50]:
#Q6)
input1=['hyd','ben#galuru','pune','mum#bai']
output=[i for i in input1 if '#' in i]
print(output)

['ben#galuru', 'mum#bai']

In [51]:
input1=['hyd','ben#galuru','pune','mum#bai']
output=[i for i in input1 if '#' not in i]
print(output)

['hyd', 'pune']

In [ ]:
case-1 : for loop:[<output> <for loop>]
case2:for-if:[<output><for loop> <if>]
case-2 for-if-else:[<if out> <if cond> else <else output> <for loop>]

In [59]:
even_odd=[f'even:{i}' if i%2==0 else f'odd:{i}' for i in range(1,10)]
print(even_odd)

['odd:1', 'even:2', 'odd:3', 'even:4', 'odd:5', 'even:6', 'odd:7', 'even:8', 'odd:9']

In [62]:
even=[]
odd=[]
even_odd=[even.append(i) if i%2==0 else odd.append(i) for i in range(1,30)]
print(even,odd)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28] [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

**case-4:for-if-elif-else**

- in list Comprehension we dont have **elif** representation

- elif also represent as **else+if**

- in elif  we have **elif condition** and **elif** output

- else elif_output elif_condition


case-3 for-if-elif-else:[**<if out> <if cond> else <elif cond> else <else out> <for loop>**]

**Note**:insted of elif term write if

In [1]:
# 85 A grade 60-85 B grade less than 60 C grade
marks=[40,45,42,62,67,73,72,79,82,30,50,54,90,92,94,80]
grade=[ f'{i}:a Grade' if i>85 else f'{i}:b Grade' if i>60 else f'{i}:c Grade' for i in marks ]
print(grade)

['40:c Grade', '45:c Grade', '42:c Grade', '62:b Grade', '67:b Grade', '73:b Grade', '72:b Grade', '79:b Grade', '82:b Grade', '30:c Grade', '50:c Grade', '54:c Grade', '90:a Grade', '92:a Grade', '94:a Grade', '80:b Grade']

In [2]:
#Exam paper solve
marks=[45,76,89,53,67,90,82,49,33,99]
#a)Filter students who passes(marks>=50)
Passed_Student=[i for i in marks if i>=50]
print('Passed student:',Passed_Student)
#b)calculate grade for all students:
grade=[f'{i}:A' if i>=85 else f'{i}:B' if i>=70 else f'{i}:C' if i>=50 else f'{i}:F'  for i in marks]
print('Grades:',grade)
#c)Add 5 grace marks to student who fail
grace_mark=[i+5 if i<50 else i for i in marks]
print('grace_marks:',grace_mark)
#d) Identify top 3 scorers
top_three=[i for i in sorted(marks,reverse=True)][:3]
print('top_three',top_three)
#find average marks of the class
a=0
avg_marks=[a:=a+i for i in marks][-1:]
print('Avg marks:',avg_marks[0]/len(marks))

Passed student: [76, 89, 53, 67, 90, 82, 99]
Grades: ['45:F', '76:B', '89:A', '53:C', '67:C', '90:A', '82:B', '49:F', '33:F', '99:A']
grace_marks: [50, 76, 89, 53, 67, 90, 82, 54, 38, 99]
top_three [99, 90, 89]
Avg marks: 68.3

In [3]:
#another logic
marks=[45,76,89,53,67,90,82,49,33,99]

max_val=max(marks)
for i in range(3):
    max_val=max(marks)
    print(max_val)
    marks.remove(max_val)

99
90
89

**distance between two points**

In [4]:
l1=[[1,2],[4,5],[7,9]]
l2=[10,20]
#find the distance between l2 with all other points from l1
#mhich is the maximum distance give me that

In [9]:
import math
l1=[10,20]#x1,y1
l2=[20,40]#x2,y2
d1=l2[0]-l1[0]#x1-x2
d2=l2[1]-l1[1]#y1-y2
d1_sqr=math.pow(d1,2)#square of d1(x2-x1)
d2_sqr=math.pow(d2,2)#square of d1(y2-y1)
summ=d1_sqr+d2_sqr#sum of square
dus=math.sqrt(summ)#roots
print(dus)

22.360679774997898

In [14]:
dis=math.sqrt(math.pow((l2[0]-l1[0]),2)+math.pow((l2[1]+l1[1]),2))
print(dus)

22.360679774997898

In [15]:
#how to sort the list 
#how to find the maximum value of the list
#how to find the minimum valuw of the list
#how to find the second miximum value of the list
#how to find the second minimum value of the list
#how to find the longet word of strinf
#how to find the most repeared word of a string