## Disctionary

In [2]:
names=['ramesh','suresh','sathish']
age=[20,25,30]
for i in range(len(names)):
    print(f'{names[i]} age is {age[i]}')

ramesh age is 20
suresh age is 25
sathish age is 30

**Zip**

In [4]:
for i in zip(names,age):
    print(i)

('ramesh', 20)
('suresh', 25)
('sathish', 30)

In [7]:
for i,j in zip(names,age):
    print(f'{i} age is {j}')

ramesh age is 20
suresh age is 25
sathish age is 30

In [12]:
names=['ramesh','suresh','sathish']
age=[20,25,30]
l2=[f'{i} age is {j}' for i,j in zip(names,age)]
print(l2)

['ramesh age is 20', 'suresh age is 25', 'sathish age is 30']

** **
**Disctionary**

- in above example names and age both are together

- when both are together we can pair them

- this can happen using dictionary

- Dictionary is calles as **Key-value** pair

- it represents with curly breses:**{Key:value}**

- Ramesh and 20 years both are pair:{'Ramesh':20}

** **

In [13]:
d1={'Ramesh':20,'Suresh':25,'Satish':30}
d1

{'Ramesh': 20, 'Suresh': 25, 'Satish': 30}

In [14]:
d1={20:'Ramesh',25:'Suresh',30:'Satish'}
d1

{20: 'Ramesh', 25: 'Suresh', 30: 'Satish'}

In [16]:
d2={'marks':[20,30,40,50],'student':['ramseh','suresh','staish','mahesh']}

In [19]:
d3={'sem_marks':{'Ramesh':{'sci':30,'maths':20},'Suresh':{'sci':28,'maths':23},'Satish':{'sci':19,'maths':14}}}
d3

{'sem_marks': {'Ramesh': {'sci': 30, 'maths': 20},
  'Suresh': {'sci': 28, 'maths': 23},
  'Satish': {'sci': 19, 'maths': 14}}}

In [23]:
d4={'Ramseh':22,'Ramesh':30}
d4
#if both key are same it will take the latest value
#dictionarys kinf database
d5={1:'hh',1:'h3'}
d5
d6={'Ramesh':20,'Ramesh':20}
d6
#Dictonary  does not allow duplicates
d7={'Ramesh':20,'Suresh':20}
d7

{'Ramesh': 20, 'Suresh': 20}

In [27]:
#in dictonary keys pays viral rol
#keys can not be duplicate but vaLUES can be dublicate
d8={20:'ramesh',20:'suresh'}
d8
d9={True:'true'}
d9
{['apple','Banana']:'fruits'}#f
{('apple','Banana'):'fruits'}#W

{True: 'true'}

{['apple','Banana']:'fruits'}
**list as keys fialis beacouse list has a mutable behaviour**

**tuple as keys works beacouse tuple has immutable behaviour**

**in dictionary keys are very very important**

**keys does not change so when we apply list is faili**

In [1]:
d14={'fruites':{'apple':20}}#works
d15={{'apple':20}:'fruit'}#Faile

TypeError: unhashable type: 'dict'

In [17]:
dict1={'Apple':20,'Banana':30,'cherry':50}
dict2={'Apple':20,'apple':30}
dict3={20:'Apple',30:'Banana',50:'Cherry'}
#apply min max sum sorted reversed
sorted(dict1)
print(list(reversed(dict1)))
sorted(dict2)
print(list(reversed(dict2)))
sorted(dict3)
print(list(reversed(dict3)))

['cherry', 'Banana', 'Apple']
['apple', 'Apple']
[50, 30, 20]

'cherry'

In [20]:
max(dict1)
max(dict2)
max(dict3)

50

In [27]:
min(dict1.values())
min(dict2)
min(dict3)

20

In [39]:
sum(dict3)
len(dict1)

3

In [28]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [44]:
dict1={'Apple':20,'Banana':30,'cherry':50}
'Apple' in dict1#T
20 in dict1#F
#'Apple':20 in dict1#Error

False

In [45]:
for i in dict1:
    print(i)

Apple
Banana
cherry

In [49]:
for i in range(len(dict1)):
    print(dict1[i])

KeyError: 0

**index**

**how to rxtract the values**

- in dictionary we have a concept key:value pair

- keys are very important

- inorder to get the values we need to take keys help

In [53]:
dict1={'Apple':20,'Banana':30,'cherry':50}
for i in dict1:
    print(dict1[i])

20
30
50

In [56]:
names={'Ramesh':20,'Suresh':25,'Satish':30}
for i in names:
    print(f'{i} age is  {names[i]}')

Ramesh age is  20
Suresh age is  25
Satish age is  30

In [60]:
d={'Fruits':['Apple','Banana','Cherry']}
d['Fruits'][2]

'Cherry'

In [62]:
#identify how many key-value pairs are their
d={'Fruits':{'Apple':['Sweet','sour','green']}}
d['Fruits']['Apple'][2]

'green'

In [65]:
d={'Fruits':[{'Const':[50]}]}
d['Fruits'][0]['Const'][0]

50

In [76]:
d={'Fruites':['Apple'],'Cost':[{'1kg':[20,30,40],
                               '2kg':None}]}
print('40:',d['Cost'][0]['1kg'][2])
print('none:',d['Cost'][0]['2kg'])

40: 40
none: None

In [84]:
d={'Fruites':{'Orange':{'Nagpur':{'MH':{'King':{'Shivaji':{'Shambaji'}}}}}}}
d['Fruites']['Orange']['Nagpur']['MH']['King']['Shivaji']

{'Shambaji'}

In [90]:
s={'jii','hii',1,1,1,1,1}
print(s)
print(s)

{'hii', 1, 'jii'}
{'hii', 1, 'jii'}

**how to create an empty dictionary**

- Now onwards focus on creation of empty lists,strings,dictionary

- we will take empty lit will use append operation

- we will take empty string will use conactenation

- we eill take empty dictionary will use key:value pair concept

In [93]:
#list
l=[]
l.append(10)
l.append(20)
l

[10, 20]

In [96]:
# string
s=''
s+='p'
s+='y'
s+='t'
s+='h'
s+='o'
s+='n'
s

'python'

In [99]:
d={}
d['Ramesh']=20
d['Suresh']=25
d['Satish']=30
d

{'Ramesh': 20, 'Suresh': 25, 'Satish': 30}

**How to convert list to dictionary**

In [100]:
l1=['Ramesh','Satish','Suresh']
l2=[20,25,30]
d={}
for i,j in zip(l1,l2):
    d[i]=j
print(d)

{'Ramesh': 20, 'Satish': 25, 'Suresh': 30}

In [104]:
d2={i:j for i,j in zip(l1,l2)}
print(d2)

{'Ramesh': 20, 'Satish': 25, 'Suresh': 30}

**dictionary comprehension**

- For list comprehension we written everything inside list

- for dict comprehension we should write everything inside dictionary

- list co,prehension:[<output>_<forloop>]

** **

In [108]:
#list co,prehension:[<output>_<forloop>]
#dict comprehension :{key:value <for loop>}
d2={i:j for i,j in zip(l1,l2)}
print(d2)

{'Ramesh': 20, 'Satish': 25, 'Suresh': 30}

**mutable-immutable**

- list are mutable

- dictionary are also mutable

- strings immutable

- tuple immutable

- in dictionary we can change the value using keys

In [115]:
dic=d2
dic['Ramesh']=30
dic

{'Ramesh': 30, 'Satish': 25, 'Suresh': 30, 'Ramseh': 30}

In [3]:
names={'Ramesh':20,'Suresh':25,'Satish':30}
print(names.keys(),type(names.keys()))#it is not list it is dict keys

dict_keys(['Ramesh', 'Suresh', 'Satish']) <class 'dict_keys'>

**convert dictionary to list**

- in order to convert dictionary to list

- first we need to seperate keys and value

- then apply list type casting

In [5]:
names={'Ramesh':20,'Suresh':25,'Satish':30}
keys=names.keys()
keys_list=list(keys)
keys_list

['Ramesh', 'Suresh', 'Satish']

In [ ]:
list===string using jsin
string===list using split
list===dict using zip
dict=list using typecastion

In [6]:
names={'Ramesh':20,'Suresh':25,'Satish':30}
values=names.values()
values_list=list(values)
values_list

[20, 25, 30]

In [11]:
print(list(names.items()))

[('Ramesh', 20), ('Suresh', 25), ('Satish', 30)]

In [28]:
input='virat.kolhi@rcb.com;rohit.sharma@mi.com;ms.dhoni@csk.com'
first_name_lis=[]
second_name_lis=[]
last_name_lis=[]
for i in lis:
    first_name=i.index('.')
    second_name=i.index('@',first_name)
    last_name=i.index('.',second_name)
    first_name_lis.append(i[:first_name])
    second_name_lis.append(i[first_name+1:second_name])
    last_name_lis.append(i[second_name+1:last_name])
print(first_name_lis)
print(second_name_lis)
print(last_name_lis)
dic={'first':first_name_lis,'second':second_name_lis,'last':last_name_lis}
print(dic)

['virat', 'rohit', 'ms']
['kolhi', 'sharma', 'dhoni']
['rcb', 'mi', 'csk']
{'first': ['virat', 'rohit', 'ms'], 'second': ['kolhi', 'sharma', 'dhoni'], 'last': ['rcb', 'mi', 'csk']}

In [41]:
names={'Ramesh':20,'Suresh':25,'Satish':30}
names.pop('Ramesh')
names.popitem()

('Satish', 30)

- **pop** in dictionary,similar anology  **reomve** in list

- **popitem** similar anology **pop** in list

**get**

In [56]:
names={'Ramesh':20,'Suresh':25,'Satish':30}
print('using get:',names.get('Ramesh'))
print('using key as a index',names['Ramesh'])#key as a index

using get: 20
using key as a index 20

**update**

- update is similar analogy **list extend**

- take two dictionarys and apply update method

In [60]:
names={'Ramesh':20,'Suresh':25,'Satish':30}
salary={'ramesh':2000,'sursh':2500,'satish':3000}
names.update(salary)
print(names)

{'Ramesh': 20, 'Suresh': 25, 'Satish': 30, 'ramesh': 2000, 'sursh': 2500, 'satish': 3000}

In [64]:
lis=[1,2,3,4,5]
lis1=['one','two','three','four','five']
lis.extend(lis1)
print(lis)

[1, 2, 3, 4, 5, 'one', 'two', 'three', 'four', 'five']

- **update in dictionarty** sililar analogy list **extend**

**setdefault**

- suppose an already existed dictionary avilable

- we can set the default values

- we can update the dictionary with new key value pair

In [67]:
names={'Ramesh':20,'Suresh':25,'Satish':30}
names.setdefault('manish',10)
names

{'Ramesh': 20, 'Suresh': 25, 'Satish': 30, 'manish': 10}

- **setdefault** in dictionary similary analogy **list append**

- always remember disctionary is a key value pair concept

- it newver involves index operations

- thats why we dont hanve any index or find methos

- we have get method to extracet values using key

**fromkeys**

- create a dictionary with different keys but same value

- fromkeys will take an argument **iterable**

- try to provide an iterator i.e string ,list,tiple

In [75]:
d={}
names=['Ramesh','Suresh','Sathish']
d.fromkeys(names,'NareshIt')

{'Ramesh': 'NareshIt', 'Suresh': 'NareshIt', 'Sathish': 'NareshIt'}

- **pop** in dictionary, similar analogy **remove** in list

- **popitem** similar anology **pop** in list

- **update in dictionary**,similar analogy **list extend**

- **setdefault** in dictionary,similar analogy **list append**

- **get** in dictionary,similat analogy  **list index**

- list has count,string has count

    - but dictionary does not have count